/* navbar */


.navbar{
    width: 60em;
}

/* logo */
.logo{
    display: flex;
    width: 100rem;
}
/* sidenav bar*/
.nav{
    height:100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.nav1{
    display: flex;
    flex-direction: column;
}
.nav .nav1 a{
    padding: 30px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s
}

.nav .nav1 li a:hover{
    color: #f1f1f1;
}



/* openbtn */
.openbtn,.closebtn{
    visibility: visible; 
    font-size: 60px;
    display: flex;
    position: relative;
    right: 10px;
}

.closebtn{
    text-decoration: none;
    color: #fff;
}

#opennav{
    flex-grow: 2;
    align-self: center;
    justify-content: flex-end;
    color:white;
}


/* container */

.container{
    height: 167rem;
    width: 60rem;
}
.wallstreet_img,.tech_img,.business_img{
    /* width: 100px;
    height: 100px; */
    width: 228px;
    height: 150px;
    position: relative;
    left: 185px;
}

.business_news,.tech_news,.wallstreet_news{
    height: 60rem;
    width: 41rem;
    flex-direction: column;
}


.busi_description,.wallstreet_description,.description{
    display: block;
    width:425px;
}

.busi_title,.tech_title,.wallstreet_title{
    width: 442px;
}

#btn,#wallstreet_button,#busi_button{
    font-size: 50px;
}

.wallstreet_name,.wallstreet_title,.wallstreet_description,.wallstreet_date{
    margin: 34px;
}

.tech_title,.description,.name,.date{
    margin: 34px;
}

.busi_title,.busi_description,.busi_date,.busi_name{
    margin: 34px;
}

.inner_wallstreet,.inner_tech,.inner_business{
    width: 651px;
    position: relative;
    left: 75px;
}

.wallstreet_head,.tech_head{
    position: relative;
    left: 92px;
}

.business_head{
    position: relative;
    left: 112px;
}

.tech_head{
    position: relative;
    left: 126px;
}
/* footer */
footer{
    width: 60em;
}


